@media screen and (max-width: 480px) {
    ul.nav-menu {
        flex-direction: row;
        font-size: 10px;
    }

    .bouh2{
        width: 70%;
    }

    ul.nav-menu {
        width: 100%;
        flex-direction: column;
    }
}