@media screen and (max-width: 480px) {

    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;500&display=swap');

    .pizza{
    flex-wrap: wrap;
    }

    ul.nav-menu {
        flex-direction: row;
        font-size: 10px;
    }

    .bouh2{
        width: 70%;
    }

    ul.nav-menu {
        width: 100%;
        flex-direction: column;
    }

    .bas {
        flex-direction: column;
    }

    .problem {
        margin-left: 25px;
    }
}
